<ion-content>
  <div class="study">
    <h1>Study!</h1>
    <h3>O seu portal<br />de estudos online</h3>
  </div>

  <div>
    <div class="criar">
      <h3>Fazer Login</h3>
      <a href="#">Criar conta</a>
    </div>

    <div class="dados">
      <ion-item>
        <ion-input placeholder="E-mail" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Senha" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Lembrar-me</ion-label>
        <ion-toggle
          slot="start"
          name="lembrar"
          color="secondary"
          checked
        ></ion-toggle>
      </ion-item>
    </div>

    <div class="logar">
      <section>
        <ion-button expand="block" href="#">Logar</ion-button>
      </section>
      <a href="#">Esqueci minha senha</a>
    </div>
  </div>
</ion-content>
