ion-content {
  --background: #e8e8e8;
  border: 0;
  width: 100%;
  height: 100%;
}

.study {
  background: #00bfff;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.study h1 {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-top: 0;
}

.study h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.criar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 0;
  margin-bottom: 10px;
}

.criar h3 {
  color: #32264d;
  margin-top: 30px;
}

.criar a {
  margin-top: 30px;
  margin-left: 80px;
}

.dados {
  margin-top: 10px;
  margin-bottom: 30px;
}

.logar {
  text-align: center;
}

.logar ion-button {
  --background: #00ee00;
}
