<ion-content>
  <div class="study">
    <h1>Study!</h1>
    <h3>O seu portal<br />de estudos online</h3>
  </div>

  <div class="welcome">
    <h2>Seja bem-vindo</h2>
    <h2><strong>O que deseja fazer?</strong></h2>
    <div class="buttons">
      <ion-button id="estudar" routerLink="/tabs" routerDirection="root">
        <ion-icon name="easel-outline"></ion-icon>
        Estudar
      </ion-button>

      <ion-button id="daraula" routerLink="/login" routerDirection="root">
        <ion-icon name="book-outline"></ion-icon>
        Dar aulas
      </ion-button>
    </div>
  </div>
</ion-content>
