ion-content {
  --background: #e8e8e8;
  border: 0;
  width: 100%;
  height: 100%;
}

.study {
  background: #00bfff;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  height: 50%;
}

.study h1 {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-top: 0;
}

.study h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.welcome {
  // color: #6a6180;
  font-family: Poppins;
  height: 50%;
}

.welcome h2 {
  margin-top: 20px;
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.buttons {
  margin: 50px;
}

#estudar {
  --background: #00bfff;
  color: #ffffff;

  margin-right: 10px;

  height: 120px;
  width: 120px;
}

#daraula {
  --background: #7cfc00;
  color: #ffffff;

  height: 120px;
  width: 120px;
}
