<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" routerLink="index"></ion-icon>
    <ion-title> Favoritos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/giovani.jpg" />

    <ion-card-header>
      <ion-card-subtitle>História</ion-card-subtitle>
      <ion-card-title>Giovani Duarte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      “Pensar no passado, compreender o presente e idealizar o futuro.” -
      Heródoto Apaixonado por história desde a época de colégio e mais
      apaixonado ainda em fazer as pessoas se apaixonarem por história, pois
      como digo, História não é difícil, você não aprendeu a gostar dela.
      <ion-button expand="block" slot="end">Ver Horários</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
