ion-content {
  --background: #00bfff;
  width: 100%;
  height: 100%;
}

.main {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.main h1 {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  //   line-height: 37px;
}

.main h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  //   line-height: 37px;
}
